body{

    background-color: #000000;
    color: #FFFFF2;
}

table{
    text-align: center;
}

th:nth-of-type(odd){
    background-color: #cc0058; 
}


th:nth-of-type(even){
    background-color: #acddff;
    color: #000000;
}

td{
    color: #ffffff;
}


td[df="2"]{
    background-color: #00ff86;
    color: #000000;
}

td[df="3"]{
    background-color: #ff8533;
    color: #000000;
}

td[df="4"]{
    background-color: #ff005a;
    color: #FFFFFF;
}

td[df="5"]{
    background-color: #861d46;
    color: #FFFFFF;
}

td[ev_df_df="1"]{
    color: #0000FF;
    background-color: #ADADAD;    
}

td[ev_df_df="2"]{
    color: #000FFF;
    background-color: #000DAD;    
}

td[plyd="true"]{
    background-color: #000000 !important;
    color: #585858 !important;
}

td[inSel="false"]{
    background-color: #494936 !important;
    color: #585858 !important;
}

.dfc{
    color: #FFFFFF;
}

#tm_df_tbl{
    color: #FFFFFF !important;
}

.curRound{
    color: #ffff00 !important;
}

.tchide{
   display: none;
}

.clmnHide{
    display: none;
}

.postponed{
    background-color: #ADADAD !important;
}

.postponed::after {
    content: " postponed";
    background-color: #ADADAD !important;
}

.played{
    background-color: #a2a2a2 !important;
    color: #000000 !important;
}


#mdl_gameTeamStats{
    z-index: 9999;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 60%;
    max-height: 80%;
    overflow: scroll;
}

.modal{
    display: flex;
    flex-direction: row;
}

.notModal{
    display: none;
}


li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.tabHidden{
    display: none;
}

.tabShow{
    display: block;
}
